
@font-face {
  font-family: grobold;
  src: url(GROBOLD.ttf);
}

body {
  font-family: grobold;
}

.center-grid {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  width: 375px;
  min-height: 350px;
}

.letter {
  font-size: 5.5em;
  padding-left: 21px;
  /* left: 14px; */
  /* position:relative; */
  /* top: 12px; */
}




.box {
  /* border-left: solid;
  border-top: solid; */
  float:left;
  height: 114px;
  width: 114px;
}

/* .boxcorner {
  border-left: none;
  border-top: none;
} */

.boxtop {
  border-top: solid;
  /* border-top: none; */

}

.boxside {
  border-left: solid
  /* border-left: none; */
}

/* .hidden {
  display: none;
} */

