
@font-face {
  font-family: grobold;
  src: url(GROBOLD.ttf);
}

body {
  font-family: grobold;
}

h1 {
  font-size: 5.5rem;
  color: #6206bf;
  /* text-shadow: 2px 2px #000; */
}

h2 {
  font-size: 5rem;
}

.center-grid {
  margin-left: auto;
  margin-right: auto;
  margin-top: 125px;
  width: 415px;
  min-height: 400px;
}

.letter {
  font-size: 6em;
  padding-left: 26px;
}


.box {
  float:left;
  height: 130px;
  width: 130px;
}

.boxtop {
  border-top: solid;
}

.boxside {
  border-left: solid
}

.hidden {
  display: none
}

.footer {
  margin-top: 4em;
}